In [28]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style

In [29]:
style.use('ggplot')

In [30]:
def OneYear_Resampling():
    HPI_data = pd.read_pickle('../src/fiddy_states_pct.pickle')
    columns = HPI_data.columns.values
    for column in columns:
        HPI_data[column] = HPI_data[column].resample('A').mean()
    HPI_data.to_pickle('../src/fiddy_states_1year.pickle')
    return HPI_data

In [31]:
HPI_data = OneYear_Resampling()

In [32]:
print(HPI_data.head()) #there are lots of na

            AL  AK  AZ  AR  CA  CO  CT  DE  FL  GA ...  SD  TN  TX  UT  VT  \
Date                                               ...
1999-01-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-02-28 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-03-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-04-30 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-05-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN

            VA  WA  WV  WI  WY
Date
1999-01-31 NaN NaN NaN NaN NaN
1999-02-28 NaN NaN NaN NaN NaN
1999-03-31 NaN NaN NaN NaN NaN
1999-04-30 NaN NaN NaN NaN NaN
1999-05-31 NaN NaN NaN NaN NaN

[5 rows x 50 columns]

In [33]:
HPI_data_drop = HPI_data.dropna()

In [34]:
print(HPI_data_drop.head())

                   AL         AK         AZ         AR         CA         CO  \
Date
1999-12-31   2.184880   2.522058   2.973973   1.564445   5.998441   5.282511
2000-12-31   5.667049   5.290017   9.621756   4.985017  20.444755  17.467427
2001-12-31   7.941907  11.252771  15.311756   8.391570  35.477626  27.390002
2002-12-31  11.026944  18.155231  22.234278  12.460045  53.642030  32.880356
2003-12-31  14.861159  26.694269  31.607506  17.778451  78.392171  35.541917

                   CT         DE         FL         GA    ...             SD  \
Date                                                      ...
1999-12-31   4.719477   3.983384   3.246057   3.905032    ...       3.200885
2000-12-31  14.191804  10.781287  11.142754  11.007870    ...       8.226143
2001-12-31  24.016712  19.014114  21.920334  16.435315    ...      11.977135
2002-12-31  37.740533  29.750426  35.973402  21.343501    ...      16.644014
2003-12-31  51.877708  44.168911  53.573807  25.207454    ...      22.226395

                   TN         TX        UT         VT         VA         WA  \
Date
1999-12-31   2.112950   3.781500  1.851293   4.360026   3.360005   3.901321
2000-12-31   5.518556  10.753894  4.623666  12.675140  10.973010   9.754953
2001-12-31   7.637152  16.643046  5.757605  21.591178  21.060348  14.541871
2002-12-31  10.839923  20.867296  7.298947  32.357931  33.568624  20.240081
2003-12-31  14.699806  24.061076  9.040059  43.924940  48.607307  27.886277

                   WV         WI         WY
Date
1999-12-31   1.431803   3.947831   3.125115
2000-12-31   4.766983  10.290318   7.761432
2001-12-31   6.434872  15.444955  13.334997
2002-12-31  10.012614  22.053472  21.546212
2003-12-31  14.899875  29.715664  30.322014

[5 rows x 50 columns]

In [27]:
HPI_data_fill = HPI_data.fillna(method='ffill')
print(HPI_data_fill.head())

            AL  AK  AZ  AR  CA  CO  CT  DE  FL  GA ...  SD  TN  TX  UT  VT  \
Date                                               ...
1999-01-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-02-28 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-03-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-04-30 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN
1999-05-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ... NaN NaN NaN NaN NaN

            VA  WA  WV  WI  WY
Date
1999-01-31 NaN NaN NaN NaN NaN
1999-02-28 NaN NaN NaN NaN NaN
1999-03-31 NaN NaN NaN NaN NaN
1999-04-30 NaN NaN NaN NaN NaN
1999-05-31 NaN NaN NaN NaN NaN

[5 rows x 50 columns]