In [1]:
import quandl
import pandas as pd
import pickle

In [2]:
api_key = open('quandlapikey.txt','r').read()

In [7]:
def state_list():
    fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
    #print(fiddy_states)
    return fiddy_states[0][1][1:]

In [8]:
def grab_initial_state_HPI():
    states = state_list()
    main_df = pd.DataFrame()
    
    for abbv in states:
        print("FMAC/HPI_"+str(abbv))
        query = "FMAC/HPI_"+str(abbv)
        df = quandl.get(query, authtoken=api_key, start_date="1999-01-31")
        df.columns = [str(abbv)]
    
        if main_df.empty:
            main_df = df
        else:
            main_df = main_df.join(df)
    
    print('\n')
    print(main_df.head())
    
    pickle_out = open('fiddy_states.pickle','wb')
    pickle.dump(main_df, pickle_out)
    pickle_out.close()

In [9]:
#grab_initial_state_HPI()

FMAC/HPI_AL
FMAC/HPI_AK
FMAC/HPI_AZ
FMAC/HPI_AR
FMAC/HPI_CA
FMAC/HPI_CO
FMAC/HPI_CT
FMAC/HPI_DE
FMAC/HPI_FL
FMAC/HPI_GA
FMAC/HPI_HI
FMAC/HPI_ID
FMAC/HPI_IL
FMAC/HPI_IN
FMAC/HPI_IA
FMAC/HPI_KS
FMAC/HPI_KY
FMAC/HPI_LA
FMAC/HPI_ME
FMAC/HPI_MD
FMAC/HPI_MA
FMAC/HPI_MI
FMAC/HPI_MN
FMAC/HPI_MS
FMAC/HPI_MO
FMAC/HPI_MT
FMAC/HPI_NE
FMAC/HPI_NV
FMAC/HPI_NH
FMAC/HPI_NJ
FMAC/HPI_NM
FMAC/HPI_NY
FMAC/HPI_NC
FMAC/HPI_ND
FMAC/HPI_OH
FMAC/HPI_OK
FMAC/HPI_OR
FMAC/HPI_PA
FMAC/HPI_RI
FMAC/HPI_SC
FMAC/HPI_SD
FMAC/HPI_TN
FMAC/HPI_TX
FMAC/HPI_UT
FMAC/HPI_VT
FMAC/HPI_VA
FMAC/HPI_WA
FMAC/HPI_WV
FMAC/HPI_WI
FMAC/HPI_WY


                   AL         AK         AZ         AR         CA         CO  \
Date
1999-01-31  93.996295  93.383452  89.510973  94.166885  78.517025  82.010901
1999-02-28  94.295166  93.623900  89.967931  94.151461  79.240130  82.544428
1999-03-31  94.818712  94.254621  90.564311  94.308057  80.224085  83.172332
1999-04-30  95.310083  95.154568  91.075949  94.771727  81.399402  84.073736
1999-05-31  95.741460  95.912283  91.504302  95.438282  82.591329  85.322690

                   CT         DE         FL         GA    ...             SD  \
Date                                                      ...
1999-01-31  85.014498  87.748899  86.790055  88.547904    ...      91.668852
1999-02-28  85.301017  88.210794  87.252003  89.082613    ...      92.173902
1999-03-31  85.810738  88.785355  87.793717  89.747361    ...      92.889328
1999-04-30  86.848680  89.486157  88.285750  90.463758    ...      93.802116
1999-05-31  88.116750  90.492275  88.886995  91.222170    ...      94.689692

                   TN         TX         UT         VT         VA         WA  \
Date
1999-01-31  94.514189  88.350929  95.467422  86.833454  87.302684  90.072043
1999-02-28  94.964499  88.815131  95.712081  87.027564  87.688921  90.817135
1999-03-31  95.462608  89.770915  96.232281  87.474765  88.176953  91.758952
1999-04-30  95.773521  90.571896  96.829750  88.254526  88.899561  92.614029
1999-05-31  95.998220  91.307192  97.352296  89.320679  89.710086  93.411621

                   WV         WI         WY
Date
1999-01-31  95.667279  89.879436  91.092460
1999-02-28  95.813511  90.292842  91.210016
1999-03-31  96.163282  91.154370  91.761099
1999-04-30  96.666074  92.150414  92.679086
1999-05-31  97.113371  93.060868  93.678555

[5 rows x 50 columns]

In [11]:
pickle_in = open('fiddy_states.pickle','rb')
HPI_data = pickle.load(pickle_in)
print(HPI_data.head())

                   AL         AK         AZ         AR         CA         CO  \
Date
1999-01-31  93.996295  93.383452  89.510973  94.166885  78.517025  82.010901
1999-02-28  94.295166  93.623900  89.967931  94.151461  79.240130  82.544428
1999-03-31  94.818712  94.254621  90.564311  94.308057  80.224085  83.172332
1999-04-30  95.310083  95.154568  91.075949  94.771727  81.399402  84.073736
1999-05-31  95.741460  95.912283  91.504302  95.438282  82.591329  85.322690

                   CT         DE         FL         GA    ...             SD  \
Date                                                      ...
1999-01-31  85.014498  87.748899  86.790055  88.547904    ...      91.668852
1999-02-28  85.301017  88.210794  87.252003  89.082613    ...      92.173902
1999-03-31  85.810738  88.785355  87.793717  89.747361    ...      92.889328
1999-04-30  86.848680  89.486157  88.285750  90.463758    ...      93.802116
1999-05-31  88.116750  90.492275  88.886995  91.222170    ...      94.689692

                   TN         TX         UT         VT         VA         WA  \
Date
1999-01-31  94.514189  88.350929  95.467422  86.833454  87.302684  90.072043
1999-02-28  94.964499  88.815131  95.712081  87.027564  87.688921  90.817135
1999-03-31  95.462608  89.770915  96.232281  87.474765  88.176953  91.758952
1999-04-30  95.773521  90.571896  96.829750  88.254526  88.899561  92.614029
1999-05-31  95.998220  91.307192  97.352296  89.320679  89.710086  93.411621

                   WV         WI         WY
Date
1999-01-31  95.667279  89.879436  91.092460
1999-02-28  95.813511  90.292842  91.210016
1999-03-31  96.163282  91.154370  91.761099
1999-04-30  96.666074  92.150414  92.679086
1999-05-31  97.113371  93.060868  93.678555

[5 rows x 50 columns]

In [ ]:
# There are also pandas own pickling methodology.
# more faster when dealing with astronomical data set.

In [ ]:
HPI_data.to_pickle('pickle.pickle')
HPI_data2 = pd.read_pickle('pickle.pickle')
print(HPI_data2.head())